In [527]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [540]:
# Convert to UTF-8 as follows:
# iconv -c -f ASCII -t UTF-8 < Trade_DetailedTradeMatrix_E_All_Data_\(Normalized\).csv > trade.csv &

trade_raw = pd.read_csv('Data/trade.csv')
food_balance_raw = pd.read_csv('Data/balance.csv')
food_supply_raw = pd.read_csv('Data/supply.csv')
food_production_raw = pd.read_csv('Data/production.csv')
malnutrition_raw = pd.read_csv('Data/malnutrition.csv')
population_raw = pd.read_csv('Data/population.csv')

/Users/sean/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (0,2,4,6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [649]:
# CONSTANTS
PREDICTION_LENGTH = 1

In [637]:
# Filter Food Production to only include production (Element Code 5510, tonnes)
food_production_unaggregated = food_production_raw.loc[:,['Area Code','Item Code','Element Code','Year Code','Value']].loc[food_production_raw['Element Code']==5510].drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
# Filter Food Supply to only include Food Supply Quantity (Element Code 641, tonnes)
food_supply = food_supply_raw.loc[:,['Area Code','Item Code','Element Code','Year Code','Value']].loc[food_supply_raw['Element Code']==641].drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
# Filter Food Balance to only include food available for consumption (Element Code 5142, 1000 tonnes) -> need to multiply by 1000 to get units in tonnes
food_balance = food_balance_raw.loc[:,['Area','Item','Area Code','Item Code','Element Code','Year Code','Value']].loc[food_balance_raw['Element Code']==5142].drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
food_balance.loc[:,['Value']] = food_balance.loc[:,['Value']].values * 1000.
# Filter Trade to only include export quantity (Element Code 5910, tonnes) and import quantity (Element Code 5610, tonnes)
# Note that reporter and partner quantity may not agree (http://fenixservices.fao.org/faostat/static/documents/TM/TM_e.pdf)
# Thus only count imports and exports with respect to the reporting country.  That's what matter for actual balance.
trade_export_unaggregated = trade_raw.loc[:,['Reporter Country Code','Item Code','Element Code','Year Code','Value']].loc[trade_raw['Element Code']==5910].rename(columns={'Reporter Country Code':'Area Code'}).drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
trade_import_unaggregated = trade_raw.loc[:,['Reporter Country Code','Item Code','Element Code','Year Code','Value']].loc[trade_raw['Element Code']==5610].rename(columns={'Reporter Country Code':'Area Code'}).drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
# Filter Population to only include Total Population- both sexes (Element Code 511, 1000 persons) -> need to multiply by 1000 to get number of people
population = population_raw.loc[:,['Area Code','Year Code','Value','Element Code']].loc[population_raw['Element Code']==511].rename(columns={'Value': 'Population'}).drop(columns=['Element Code']).apply(pd.to_numeric, errors='ignore')
population.loc[:,['Population']] = population.loc[:,['Population']].values * 1000.

In [638]:
# DEBUG - only consider the USA
# food_production_unaggregated = food_production_unaggregated.loc[food_production_unaggregated['Area Code']==231]
# food_supply = food_supply.loc[food_supply['Area Code']==231]
# food_balance = food_balance.loc[food_balance['Area Code']==231]
# trade_unaggregated = trade_unaggregated.loc[(trade_unaggregated['Area Code']==231)]
# DEBUG - only consider the USA

In [639]:
# FAO aggregates products for Food Balance and Food Supply
# Food Production and Trade is not aggregated
# In order to compare the datasets, Food Production and Trade must be aggregated using the aggregate mapping
# The aggregate mapping requires pre-processing
aggregate_mapping_raw = pd.read_csv('Data/aggregate-mapping.csv').loc[:,['Item Code', 'Description']].rename(columns={'Item Code':'Aggregate Item Code'})
aggregate_index_mapping = aggregate_mapping_raw.Description.str.extractall('(\d+)').reset_index().drop(columns=['match']).rename(columns={0:'Item Code'}).rename(columns={'level_0':'Aggregated Item Code Index'})
aggregate_mapping = pd.merge(left=aggregate_mapping_raw,
                             right=aggregate_index_mapping,
                             how='outer',
                             left_index=True,
                             right_on=['Aggregated Item Code Index']).dropna().drop(columns=['Aggregated Item Code Index','Description']).apply(pd.to_numeric, errors='ignore')

In [658]:

# Aggregate the Food Production and Trade dataframes
food_production = pd.merge(left=food_production_unaggregated,
                                      right=aggregate_mapping,
                                      how='inner',
                                      on='Item Code').drop(columns=['Item Code']).rename(columns={'Aggregate Item Code':'Item Code'})
trade_import = pd.merge(left=trade_import_unaggregated,
                            right=aggregate_mapping,
                            how='inner',
                            on='Item Code').drop(columns=['Item Code']).rename(columns={'Aggregate Item Code':'Item Code'})
trade_export = pd.merge(left=trade_export_unaggregated,
                            right=aggregate_mapping,
                            how='inner',
                            on='Item Code').drop(columns=['Item Code']).rename(columns={'Aggregate Item Code':'Item Code'})

In [668]:
print(len(food_production))
print(len(food_production_unaggregated))
print(len(food_production_unaggregated.groupby(['Area Code', 'Item Code', 'Year Code']).sum().reset_index()))
food_production_unaggregated.head()

726787
1327954
1316524

   Area Code  Item Code  Year Code    Value
0          2        767       1961  17000.0
1          2        767       1962  26000.0
2          2        767       1963  36700.0
3          2        767       1964  26000.0
4          2        767       1965  25000.0

In [641]:
# Given [country, year, item code, element code]
# Predict [future balance]
# From [supply, amount traded out, amount traded in]

# Create new prediction_data dataframe from food_supply dataframe
prediction_data = food_supply.copy().rename(columns={'Value':'Current Supply'})
print(len(prediction_data))

1136394

In [642]:
# Rename the [Value] column of food_production to be [Amount Produced]
food_production = food_production.rename(columns={'Value': 'Amount Produced'})
# Merge food_balance with prediction_data on [Area Code, Item Code, 'Year Code']
prediction_data = pd.merge(left=prediction_data,
                          right=food_production,
                          how='inner',
                          on=['Area Code','Item Code','Year Code'])
print(len(prediction_data))

615762

In [643]:
# Filter by summing [Value] for a constant [Area Code, Item Code, Year Code]
trade_export = trade_export.groupby(['Area Code', 'Item Code', 'Year Code'])[['Value']].sum().reset_index()
# Rename the [Value] column of trade_export to be [Amount Exported]
trade_export = trade_export.rename(columns={'Value': 'Amount Exported'})
# Merge trade_export with prediction_data on [Area Code, Item Code, Year Code]
prediction_data = pd.merge(left=prediction_data,
                           right=trade_export,
                           how='inner',
                           on=['Area Code', 'Item Code', 'Year Code'])
print(len(prediction_data))

160679

In [644]:
# Filter by summing [Value] for a constant [Area Code, Item Code, Year Code]
trade_import = trade_import.groupby(['Area Code', 'Item Code', 'Year Code'])[['Value']].sum().reset_index()
# Rename the [Value] column of trade_import to be [Amount Exported]
trade_import = trade_import.rename(columns={'Value': 'Amount Imported'})
# Merge trade_import with prediction_data on [Area Code, Item Code, Year Code]
prediction_data = pd.merge(left=prediction_data,
                           right=trade_import,
                           how='inner',
                           on=['Area Code', 'Item Code', 'Year Code'])
print(len(prediction_data))

155370

In [645]:
# Insert population into the prediction_data
prediction_data = pd.merge(left=prediction_data,
                          right=population,
                          how='left',
                          on=['Area Code','Year Code'])
print(len(prediction_data))

155370

In [646]:
# Translate the food_balance out PREDICTION_LENGTH years
food_balance.loc[:,['Year Code']] = food_balance.loc[:,['Year Code']].values - PREDICTION_LENGTH
# Rename the [Value] column of food_balance to be [Predicted Value]
food_balance = food_balance.rename(columns={'Value': 'Predicted Balance'})
# Merge food_balance with prediction_data on [Area Code, Item Code, 'Year Code']
prediction_data = pd.merge(left=prediction_data,
                          right=food_balance,
                          how='inner',
                          on=['Area Code','Item Code','Year Code'])
print(len(prediction_data))

145544

In [636]:
# Input Data Columns: [Area Code, Year Code, Item Code, Value, Value In, Value Out]
# Predicted Data Columns: [Predicted Value]
# prediction_data.drop(columns=['Item','Area','Area Code',Year Code'])
prediction_data

,Area Code,Item Code,Year Code,Current Supply,Amount Produced,Amount Exported,Amount Imported,Population,Area,Item,Predicted Balance
0,3,2656,1999,34940.00,8703.0,6.0,26244.0,3115576.0,Albania,Beer,41000.0
1,3,2656,2001,47929.00,11670.0,24.0,36286.0,3122408.0,Albania,Beer,43000.0
2,3,2656,2002,43297.00,15470.0,32.0,27857.0,3119029.0,Albania,Beer,40000.0
3,3,2656,2003,40192.00,14400.0,66.0,25859.0,3111005.0,Albania,Beer,52000.0
4,3,2656,2004,51969.00,29830.0,287.0,22425.0,3097747.0,Albania,Beer,49000.0
5,3,2656,2005,48643.00,28630.0,130.0,20145.0,3079179.0,Albania,Beer,57000.0
6,3,2656,2006,57215.00,34800.0,509.0,22925.0,3054331.0,Albania,Beer,66000.0
7,3,2656,2007,66039.00,36500.0,577.0,30116.0,3023907.0,Albania,Beer,66000.0
8,3,2656,2008,66049.00,33000.0,417.0,33465.0,2991651.0,Albania,Beer,61000.0
9,3,2656,2009,61463.00,24900.0,219.0,36783.0,2962635.0,Albania,Beer,78000.0
10,3,2656,2010,78495.00,45000.0,653.0,34149.0,2940525.0,Albania,Beer,89000.0
11,3,2656,2011,88748.00,57500.0,379.0,31628.0,2926659.0,Albania,Beer,84000.0
12,3,2656,2012,84426.00,55000.0,389.0,29813.0,2920039.0,Albania,Beer,86000.0
13,3,2625,1996,54718.00,250000.0,132.0,10066.0,3092228.0,Albania,"Fruits, Other",44000.0
14,3,2625,1997,44064.00,200000.0,80.0,2903.0,3093041.0,Albania,"Fruits, Other",59000.0
15,3,2625,1999,72911.33,220000.0,328.0,34202.0,3115576.0,Albania,"Fruits, Other",75000.0
16,3,2625,2000,74847.67,250000.0,2362.0,24344.0,3121970.0,Albania,"Fruits, Other",114000.0
17,3,2625,2001,114465.26,277000.0,2338.0,37156.0,3122408.0,Albania,"Fruits, Other",118000.0
18,3,2625,2002,118226.67,293000.0,1043.0,37924.0,3119029.0,Albania,"Fruits, Other",110000.0
19,3,2625,2003,109571.33,204000.0,3699.0,26536.0,3111005.0,Albania,"Fruits, Other",112000.0
20,3,2625,2004,111844.00,204340.0,5055.0,31738.0,3097747.0,Albania,"Fruits, Other",115000.0
21,3,2625,2005,115481.04,204000.0,10453.0,28379.0,3079179.0,Albania,"Fruits, Other",118000.0
22,3,2625,2006,118293.15,169107.0,11960.0,26525.0,3054331.0,Albania,"Fruits, Other",121000.0
23,3,2625,2007,121120.97,190000.0,12467.0,23990.0,3023907.0,Albania,"Fruits, Other",117000.0
24,3,2625,2008,116554.35,142875.0,7861.0,18734.0,2991651.0,Albania,"Fruits, Other",127000.0
25,3,2625,2009,127420.54,195430.0,9186.0,16954.0,2962635.0,Albania,"Fruits, Other",121000.0
26,3,2625,2010,120598.06,199364.0,21397.0,15258.0,2940525.0,Albania,"Fruits, Other",123000.0
27,3,2625,2011,122590.38,231200.0,20066.0,13429.0,2926659.0,Albania,"Fruits, Other",138000.0
28,3,2625,2012,137564.79,237300.0,18426.0,13251.0,2920039.0,Albania,"Fruits, Other",141000.0
29,3,2572,1996,392.00,NaN,22.0,415.0,3092228.0,Albania,Groundnut Oil,1000.0
...,...,...,...,...,...,...,...,...,...,...,...
145514,181,2605,2012,195264.59,200.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145515,181,2605,2012,195264.59,620.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145516,181,2605,2012,195264.59,10000.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145517,181,2605,2012,195264.59,4000.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145518,181,2605,2012,195264.59,450.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145519,181,2605,2012,195264.59,300.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145520,181,2605,2012,195264.59,200.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145521,181,2605,2012,195264.59,160.0,1270.0,8868.0,14710826.0,Zimbabwe,"Vegetables, Other",194000.0
145522,181,2511,1986,212231.06,248346.0,444.0,47781.0,8976205.0,Zimbabwe,Wheat and products,262000.0
145523,181,2511,1987,262013.88,214548.0,99.0,31296.0,9293283.0,Zimbabwe,Wheat and products,276000.0
145524,181,2511,1990,278940.80,325983.0,2149.0,93941.0,10183113.0,Zimbabwe,Wheat and products,281000.0
145525,181,2511,1991,280828.60,259213.0,2829.0,25874.0,10443043.0,Zimbabwe,Wheat and products,286000.0
145526,181,2511,1992,286373.47,57000.0,690.0,2878.0,10682868.0,Zimbabwe,Wheat and products,287000.0
145527,181,2511,1993,286992.81,277000.0,30037.0,86713.0,10905756.0,Zimbabwe,Wheat and products,297000.0
145528,181,2511,1994,297432.18,288000.0,17512.0,62970.0,11116948.0,Zimbabwe,Wheat and products,288000.0
145529,181,2511,1995,287564.60,70000.0,142508.0,86161.0,11320346.0,Zimbabwe,Wheat and products,285000.0
145530,181,2511,1996,284925.12,263134.0,73966.0,289546.0,11518262.0,Zimbabwe,Wheat and products,277000.0
145531,181,2511,1997,276837.06,254772.0,61903.0,136825.0,11709997.0,Zimbabwe,Wheat and products,257000.0
145532,181,2511,1998,256585.49,242121.0,92543.0,114696.0,11893272.0,Zimbabwe,Wheat and products,233000.0
145533,181,2511,1999,233394.43,260909.0,77859.0,51404.0,12064537.0,Zimbabwe,Wheat and products,221000.0
145534,181,2511,2000,220803.46,229775.0,57531.0,72639.0,12222251.0,Zimbabwe,Wheat and products,225000.0
145535,181,2511,2001,225140.21,197526.0,4589.0,27677.0,12366165.0,Zimbabwe,Wheat and products,222000.0
145536,181,2511,2002,222404.77,195000.0,12235.0,13324.0,12500525.0,Zimbabwe,Wheat and products,230000.0
145537,181,2511,2004,248255.96,247048.0,7297.0,237040.0,12777511.0,Zimbabwe,Wheat and products,263000.0
145538,181,2511,2005,262802.65,229089.0,2780.0,56054.0,12940032.0,Zimbabwe,Wheat and products,329000.0
145539,181,2511,2006,328745.01,241924.0,1669.0,135306.0,13124267.0,Zimbabwe,Wheat and products,364000.0
145540,181,2511,2009,411202.83,12000.0,2748.0,316597.0,13810599.0,Zimbabwe,Wheat and products,380000.0
145541,181,2511,2010,379981.18,18000.0,779.0,468712.0,14086317.0,Zimbabwe,Wheat and products,395000.0
145542,181,2511,2011,394646.13,23000.0,2015.0,495052.0,14386649.0,Zimbabwe,Wheat and products,433000.0
145543,181,2511,2012,432663.94,52736.0,4876.0,321241.0,14710826.0,Zimbabwe,Wheat and products,443000.0