In [273]:
import tensorflow as tf
import sys

import pandas as pd
import pathlib as pl
import numpy as np
sys.prefix

'C:\\Users\\User\\Anaconda2\\envs\\py35'

In [274]:
#library of functions here
#df.dropna()

from sklearn.preprocessing import StandardScaler


def normalizeInputs(x, y):
    sc = StandardScaler()
    x = sc.fit_transform(x)
    y = sc.fit_transform(y)
    return x,y

In [275]:
# read in data

# path = r'C:\Users\User\Documents\for deletion\New folder (2)\Inputs_FertilizersArchive_E_All_Data_(Normalized).csv'
# path = r'C:\Users\User\Documents\for deletion\New folder (2)\Value_of_Production_E_All_Data_(Normalized).csv'

path1 = r'C:\Users\User\Documents\CS230 Project\New folder (2)\FoodBalanceSheets_E_All_Data_(Normalized).csv'
path2 = r'C:\Users\User\Documents\CS230 Project\New folder (2)\FoodSupply_Crops_E_All_Data_(Normalized).csv'
path3 = r'C:\Users\User\Documents\CS230 Project\New folder (2)\Trade_DetailedTradeMatrix_E_All_Data_(Normalized).csv'

path1 = path1.replace('\\', r'//')
path2 = path2.replace('\\', r'//')
path3 = path3.replace('\\', r'//')

balance = pd.read_csv(path1, sep=',', engine='python', nrows = 1000000) # 6:55 started the ingest 
supply = pd.read_csv(path2, sep=',', engine='python', nrows = 1000000) # 6:55 started the ingest 
trade = pd.read_csv(path3, sep=',', engine='python', nrows = 1000000) # 6:55 started the ingest 
print("done")

done

In [276]:
print(balance.columns.tolist())
print(trade.columns.tolist())
print(supply.columns.tolist())
print(balance.head())
print('-'*100)
print(trade.head())
print('-'*100)
print(supply.head())
print('-'*100)

['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value', 'Flag']
['Reporter Country Code', 'Reporter Countries', 'Partner Country Code', 'Partner Countries', 'Item Code', 'Item', 'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value', 'Flag']
['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value', 'Flag']
   Area Code         Area  Item Code        Item  Element Code  \
0          2  Afghanistan       2501  Population           511
1          2  Afghanistan       2501  Population           511
2          2  Afghanistan       2501  Population           511
3          2  Afghanistan       2501  Population           511
4          2  Afghanistan       2501  Population           511

                         Element  Year Code  Year          Unit   Value Flag
0  Total Population - Both sexes       1961  1961  1000 persons  8954.0  NaN
1  Total Population - Both sexes       1962  1962  1000 persons  9142.0  NaN
2  Total Population - Both sexes       1963  1963  1000 persons  9340.0  NaN
3  Total Population - Both sexes       1964  1964  1000 persons  9547.0  NaN
4  Total Population - Both sexes       1965  1965  1000 persons  9765.0  NaN
----------------------------------------------------------------------------------------------------
   Reporter Country Code Reporter Countries  Partner Country Code  \
0                      2        Afghanistan                     4
1                      2        Afghanistan                     4
2                      2        Afghanistan                     4
3                      2        Afghanistan                     4
4                      2        Afghanistan                     4

  Partner Countries  Item Code                  Item  Element Code  \
0           Algeria        230  Cashew nuts, shelled          5910
1           Algeria        230  Cashew nuts, shelled          5922
2           Algeria       1293       Crude materials          5922
3           Algeria       1293       Crude materials          5922
4           Algeria        561               Raisins          5910

           Element  Year Code  Year      Unit  Value Flag
0  Export Quantity       2016  2016    tonnes    3.0    *
1     Export Value       2016  2016  1000 US$   23.0    *
2     Export Value       2015  2015  1000 US$    1.0    *
3     Export Value       2016  2016  1000 US$    1.0    *
4  Export Quantity       2014  2014    tonnes   12.0    *
----------------------------------------------------------------------------------------------------
   Area Code         Area  Item Code                 Item  Element Code  \
0          2  Afghanistan       2617  Apples and products           641
1          2  Afghanistan       2617  Apples and products           641
2          2  Afghanistan       2617  Apples and products           641
3          2  Afghanistan       2617  Apples and products           641
4          2  Afghanistan       2617  Apples and products           641

                         Element  Year Code  Year    Unit    Value Flag
0  Food supply quantity (tonnes)       1961  1961  tonnes  14345.0    S
1  Food supply quantity (tonnes)       1962  1962  tonnes  14345.0    S
2  Food supply quantity (tonnes)       1963  1963  tonnes  14345.0    S
3  Food supply quantity (tonnes)       1964  1964  tonnes  17480.0    S
4  Food supply quantity (tonnes)       1965  1965  tonnes  19380.0    S
----------------------------------------------------------------------------------------------------

In [277]:
# print(balance.Item.unique().tolist())
# print('-'*100)
# print(trade.Item.unique().tolist())
# print('-'*100)
# print(supply.Item.unique().tolist())

#get the intersection 
balance_items = balance.Item.unique().tolist()
trade_items =trade.Item.unique().tolist()
supply_items =supply.Item.unique().tolist()

result = set(balance_items) & set(trade_items) & set(trade_items) 
print(result)


balance_ctry = balance.Area.unique().tolist()
trade_ctry =trade['Reporter Countries'].unique().tolist()
supply_ctry =supply.Area.unique().tolist()
commonCtry = set(balance_ctry) & set(trade_ctry) & set(supply_ctry) 
print(commonCtry)

{'Sugar beet', 'Sweet potatoes', 'Oats', 'Cottonseed', 'Sesame seed', 'Sunflower seed', 'Cloves', 'Wine', 'Infant food', 'Dates', 'Bananas'}
{'Antigua and Barbuda', 'Armenia', 'Albania', 'Argentina', 'Australia', 'Afghanistan', 'Algeria'}

In [278]:
#join the columns 

####################################### do balance -> Food that humans have to eat 
# balance.Element.unique().tolist() # want just  'Food supply quantity (kg/capita/yr)' for now
# balance.Unit.unique().tolist()
balance2 = balance.loc[balance['Unit'] == '1000 tonnes'].copy()
balance2 = balance2.loc[balance2['Element'] == 'Food'].copy()  # http://www.fao.org/faostat/en/#data/FBS/report
balance2.rename(columns =  {'Element':'Food'}, inplace=True) #don't really need this, but good reminder that element is now food (but ws)
balance2 = balance2[['Area', 'Item', 'Year', 'Value']].copy()
balance2.Value  = balance2.Value *1000 #since the unit is 1000 tonnes

balance2 = balance2.groupby(['Area', 'Item', 'Year']).sum().reset_index()
balance2.rename(columns =  {'Value':'FoodInTonnes'}, inplace=True)
balance2 = balance2.dropna()
# balance2.head()

################Done food balance for humans

#search on Albania, for all the foods possible 

####################################### do trade -> import export 
# trade.Element.unique().tolist() 
# ==> ['Export Quantity', 'Export Value', 'Import Quantity', 'Import Value']
backupTrade = trade.copy()
trade.rename(columns = {'Reporter Countries': 'Area'}, inplace=True)
#kludge: we are filtering out the non tonness values 
trade = trade.loc[trade['Unit'] == 'tonnes'].copy()
#get import quantity, get export quantity, make 2 seperate columns
tradeImport = trade.loc[trade.Element == 'Import Quantity'].copy()
tradeExport = trade.loc[trade.Element == 'Export Quantity'].copy()
#remove unnessary columns 
tradeImport = tradeImport[['Year', 'Area', 'Item', 'Value' ]].copy()
tradeExport = tradeExport[['Year', 'Area', 'Item', 'Value' ]].copy()

#groupby to get total 
tradeImport = tradeImport.groupby(['Year', 'Area', 'Item']).sum().reset_index()
tradeImport.rename(columns = {'Value':'Import'}, inplace = True)
tradeExport = tradeExport.groupby(['Year', 'Area', 'Item']).sum().reset_index()
tradeExport.rename(columns = {'Value':'Export'}, inplace = True)
#join import-exports
tradeJoin = pd.merge(left=tradeImport, right = tradeExport, how = 'left', on =['Year', 'Area', 'Item'])
tradeJoin = tradeJoin.dropna()

################Done import export

####################################### do supply -> quantities
backupSupply = supply.copy()
#for learning about the datasets
# backupSupply.Element.unique().tolist()
# backupSupply.Unit.unique().tolist()
#filter out other units
befUnitsSupply = supply.Unit.unique().tolist()   #don't use this unless you have gotten "supply" df fresh
supply2 = supply.loc[supply['Element'] == 'Food supply quantity (tonnes)'].copy()
aftUnitsSupply = supply2.Unit.unique().tolist()
#######supply.Element.unique().tolist()  - only has food supply qty 
supply2 = supply2[['Year', 'Area', 'Item', 'Value' ]].copy()
supply2 = supply2.groupby(['Year', 'Area', 'Item']).sum().reset_index()
supply2 = supply2.dropna()
supply2.rename(columns = {'Value':'Qty'}, inplace=True)
# supply2.head()

################Done quantity

#should have year, area, totalValue grouped by the year, and the country, 
# trade2 = [['Reporter Countries']]

#kludge: make the population for the country remove it from top -> then attach it
#as a column joining on the year/year code values 
print('done')

done

In [279]:
print(balance2.head())
print("__ "*30)
print(tradeJoin.head())
print("__ "*30)
print(supply2.head())
print("__ "*30)
print(balance2.dtypes)
print("__ "*30)
print(tradeJoin.dtypes)
print("__ "*30)
print(supply2.dtypes)

#should be the following
#balance2
# Area             object
# Item             object
# Year              int64
# FoodInTonnes    float64
# dtype: object
#tradeJoin
# Year        int64
# Area       object
# Item       object
# Import    float64
# Export    float64
# dtype: object
#supply2
# Year      int64
# Area     object
# Item     object
# Qty     float64

          Area                 Item  Year  FoodInTonnes
0  Afghanistan  Alcoholic Beverages  1961           0.0
1  Afghanistan  Alcoholic Beverages  1962           0.0
2  Afghanistan  Alcoholic Beverages  1963           0.0
3  Afghanistan  Alcoholic Beverages  1964           0.0
4  Afghanistan  Alcoholic Beverages  1965           0.0
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
    Year       Area                              Item    Import   Export
20  1986    Algeria                   Crude materials   26887.0   2953.0
62  1986    Algeria                          Potatoes  208069.0   2356.0
68  1986    Algeria           Skins, sheep, with wool       0.0      5.0
85  1986  Argentina  Anise, badian, fennel, coriander     334.0    220.0
86  1986  Argentina                            Apples       2.0  77959.0
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
   Year         Area                 Item       Qty
0  1961  Afghanistan  Alcoholic Beverages       0.0
1  1961  Afghanistan  Apples and products   14345.0
2  1961  Afghanistan              Bananas       0.0
3  1961  Afghanistan  Barley and products  236600.0
4  1961  Afghanistan                 Beer       0.0
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
Area             object
Item             object
Year              int64
FoodInTonnes    float64
dtype: object
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
Year        int64
Area       object
Item       object
Import    float64
Export    float64
dtype: object
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
Year      int64
Area     object
Item     object
Qty     float64
dtype: object

In [280]:
#join on the three columns
#should have unique area, year, Item combinations

bal_trade = pd.merge(left = balance2, right = tradeJoin, on =['Year',"Area", 'Item'], how = 'left')
print(bal_trade.head())
bal_trade_sup =pd.merge(left = bal_trade, right = supply2, on =['Year',"Area", 'Item'], how = 'left')
print(bal_trade_sup.head())
# bal_trade_sup = bal_trade_sup.dropna()
print(len(bal_trade_sup))
#columns should be FoodInTonnes, Import, Export, Qty (some could be completely empty)
print("__ "*30)


#fill in the na values  : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html
values = {'FoodInTonnes': 0.0, 'Import': 0.0, 'Export': 0.0, 'Qty': 0.0}
bal_trade_sup = bal_trade_sup.fillna(value=values)


#convert to numpy array: https://stackoverflow.com/questions/13187778/convert-pandas-dataframe-to-numpy-array-preserving-index
bal_trade_sup_vals = bal_trade_sup.values
print(bal_trade_sup_vals[:10,:])
print("__ "*30)
print(bal_trade_sup_vals.shape)
print('len of the df is ', len(bal_trade_sup) )

#preprocess - first three columns are not right
y = bal_trade_sup['FoodInTonnes'].copy().values
y = y.reshape(len(y), 1)
x = bal_trade_sup[['Import', 'Export', 'Qty']].copy().values
# len(x)
# x = x.reshape(len(x), 3)
print(type(y))
print(y.shape, ' is y shape')
# print(type(x))
print(x.shape,  ' is x shape')

          Area                 Item  Year  FoodInTonnes  Import  Export
0  Afghanistan  Alcoholic Beverages  1961           0.0     NaN     NaN
1  Afghanistan  Alcoholic Beverages  1962           0.0     NaN     NaN
2  Afghanistan  Alcoholic Beverages  1963           0.0     NaN     NaN
3  Afghanistan  Alcoholic Beverages  1964           0.0     NaN     NaN
4  Afghanistan  Alcoholic Beverages  1965           0.0     NaN     NaN
          Area                 Item  Year  FoodInTonnes  Import  Export  Qty
0  Afghanistan  Alcoholic Beverages  1961           0.0     NaN     NaN  0.0
1  Afghanistan  Alcoholic Beverages  1962           0.0     NaN     NaN  0.0
2  Afghanistan  Alcoholic Beverages  1963           0.0     NaN     NaN  0.0
3  Afghanistan  Alcoholic Beverages  1964           0.0     NaN     NaN  0.0
4  Afghanistan  Alcoholic Beverages  1965           0.0     NaN     NaN  0.0
95249
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
[['Afghanistan' 'Alcoholic Beverages' 1961 0.0 0.0 0.0 0.0]
 ['Afghanistan' 'Alcoholic Beverages' 1962 0.0 0.0 0.0 0.0]
 ['Afghanistan' 'Alcoholic Beverages' 1963 0.0 0.0 0.0 0.0]
 ['Afghanistan' 'Alcoholic Beverages' 1964 0.0 0.0 0.0 0.0]
 ['Afghanistan' 'Alcoholic Beverages' 1965 0.0 0.0 0.0 0.0]
 ['Afghanistan' 'Alcoholic Beverages' 1966 0.0 0.0 0.0 30.0]
 ['Afghanistan' 'Alcoholic Beverages' 1967 0.0 0.0 0.0 30.0]
 ['Afghanistan' 'Alcoholic Beverages' 1968 0.0 0.0 0.0 10.0]
 ['Afghanistan' 'Alcoholic Beverages' 1969 0.0 0.0 0.0 15.0]
 ['Afghanistan' 'Alcoholic Beverages' 1970 0.0 0.0 0.0 12.0]]
__ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __
(95249, 7)
len of the df is  95249
<class 'numpy.ndarray'>
(95249, 1)  is y shape
(95249, 3)  is x shape

In [282]:
#neural network training  --initially with Keras

import tensorflow as tf
from tensorflow import keras
import sys
import pandas as pd
import pathlib as pl
import numpy as np

# x,y = normalizeInputs(x,y)
filterLength = len(x)-2000
totalLength = len(x)
colsX = len(x[0])
colsY = len(y[0])

x_train = x[:filterLength]
y_train = y[:filterLength]

x_test = x[filterLength:]
y_test = y[filterLength:]

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)


#plot data
# a = None
# a.hello = 'e'

(93249, 3)
(93249, 1)
(2000, 3)
(2000, 1)

In [289]:
model = keras.Sequential([
#     keras.layers.Dense(units=1,input_shape=(1,))
    keras.layers.Dense(3,input_shape=(3,)),
    keras.layers.Dense(12, activation=tf.nn.relu),
    keras.layers.Dense(10, activation=tf.nn.sigmoid),#relu),
    keras.layers.Dense(1)
])


model.compile(optimizer=tf.train.AdamOptimizer(), #'sgd',#
              loss='mean_squared_error',
              metrics=['accuracy'])


model.fit(x_train, y_train, epochs=100)
test_loss, test_acc = model.evaluate(x_test, y_test)

# print('Test accuracy:', test_acc)
print('Test Loss', test_loss)

# https://stats.stackexchange.com/questions/284189/simple-linear-regression-in-keras

Epoch 1/100
93249/93249 [==============================] - 3s 34us/step - loss: 718157636258.1211 - acc: 0.0053
Epoch 2/100
93249/93249 [==============================] - 2s 22us/step - loss: 718154051910.3221 - acc: 0.0000e+00
Epoch 3/100
93249/93249 [==============================] - 2s 23us/step - loss: 718150509881.8805 - acc: 0.0000e+00
Epoch 4/100
93249/93249 [==============================] - 2s 22us/step - loss: 718146924096.3872 - acc: 0.0000e+00
Epoch 5/100
93249/93249 [==============================] - 2s 22us/step - loss: 718143241368.3492 - acc: 0.0000e+00
Epoch 6/100
93249/93249 [==============================] - 2s 22us/step - loss: 718139665416.7822 - acc: 0.0000e+00
Epoch 7/100
93249/93249 [==============================] - 2s 23us/step - loss: 718136049437.6691 - acc: 0.0000e+00
Epoch 8/100
93249/93249 [==============================] - 2s 22us/step - loss: 718132377401.8503 - acc: 0.0000e+00
Epoch 9/100
93249/93249 [==============================] - 2s 22us/step - loss: 718128686992.7699 - acc: 0.0000e+00
Epoch 10/100
93249/93249 [==============================] - 2s 22us/step - loss: 718125033606.2413 - acc: 0.0000e+00
Epoch 11/100
93249/93249 [==============================] - 2s 22us/step - loss: 718121372316.7689 - acc: 0.0000e+00
Epoch 12/100
93249/93249 [==============================] - 2s 22us/step - loss: 718117729220.8517 - acc: 0.0000e+00
Epoch 13/100
93249/93249 [==============================] - 2s 23us/step - loss: 718114082631.4738 - acc: 0.0000e+00
Epoch 14/100
93249/93249 [==============================] - 2s 22us/step - loss: 718110463478.8182 - acc: 0.0000e+00
Epoch 15/100
93249/93249 [==============================] - 2s 23us/step - loss: 718106800475.8597 - acc: 0.0000e+00
Epoch 16/100
93249/93249 [==============================] - 2s 23us/step - loss: 718103141616.0902 - acc: 0.0000e+00
Epoch 17/100
93249/93249 [==============================] - 2s 22us/step - loss: 718099531203.3005 - acc: 0.0000e+00
Epoch 18/100
93249/93249 [==============================] - 2s 25us/step - loss: 718095858336.7706 - acc: 0.0000e+00
Epoch 19/100
93249/93249 [==============================] - 2s 26us/step - loss: 718092280660.2957 - acc: 0.0000e+00
Epoch 20/100
93249/93249 [==============================] - 2s 26us/step - loss: 718088615122.3368 - acc: 0.0000e+00
Epoch 21/100
93249/93249 [==============================] - 2s 26us/step - loss: 718084968173.3875 - acc: 0.0000e+00
Epoch 22/100
93249/93249 [==============================] - 2s 26us/step - loss: 718081376950.5741 - acc: 0.0000e+00
Epoch 23/100
93249/93249 [==============================] - 2s 27us/step - loss: 718077783331.0790 - acc: 0.0000e+00
Epoch 24/100
93249/93249 [==============================] - 2s 25us/step - loss: 718074185905.2115 - acc: 0.0000e+00
Epoch 25/100
93249/93249 [==============================] - 2s 23us/step - loss: 718070572877.7614 - acc: 0.0000e+00
Epoch 26/100
93249/93249 [==============================] - 2s 23us/step - loss: 718066956750.4550 - acc: 0.0000e+00
Epoch 27/100
93249/93249 [==============================] - 2s 22us/step - loss: 718063318446.9000 - acc: 0.0000e+00
Epoch 28/100
93249/93249 [==============================] - 2s 22us/step - loss: 718059686630.5367 - acc: 0.0000e+00
Epoch 29/100
93249/93249 [==============================] - 2s 23us/step - loss: 718056048962.0494 - acc: 0.0000e+00
Epoch 30/100
93249/93249 [==============================] - 2s 22us/step - loss: 718052416138.3685 - acc: 0.0000e+00
Epoch 31/100
93249/93249 [==============================] - 2s 23us/step - loss: 718048801436.6078 - acc: 0.0000e+00
Epoch 32/100
93249/93249 [==============================] - 2s 22us/step - loss: 718045176805.5682 - acc: 0.0000e+00
Epoch 33/100
93249/93249 [==============================] - 2s 22us/step - loss: 718041570150.2333 - acc: 0.0000e+00
Epoch 34/100
93249/93249 [==============================] - 2s 23us/step - loss: 718037925736.4490 - acc: 0.0000e+00
Epoch 35/100
93249/93249 [==============================] - 2s 23us/step - loss: 718034327666.2601 - acc: 0.0000e+00
Epoch 36/100
93249/93249 [==============================] - 2s 22us/step - loss: 718030701753.6189 - acc: 0.0000e+00
Epoch 37/100
93249/93249 [==============================] - 2s 22us/step - loss: 718027020025.6061 - acc: 0.0000e+00
Epoch 38/100
93249/93249 [==============================] - 2s 22us/step - loss: 718023361462.9143 - acc: 0.0000e+00
Epoch 39/100
93249/93249 [==============================] - 2s 22us/step - loss: 718019776361.0050 - acc: 0.0000e+00
Epoch 40/100
93249/93249 [==============================] - 2s 22us/step - loss: 718016148935.6173 - acc: 0.0000e+00
Epoch 41/100
93249/93249 [==============================] - 2s 22us/step - loss: 718012511654.0847 - acc: 0.0000e+00
Epoch 42/100
93249/93249 [==============================] - 2s 22us/step - loss: 718008885716.1187 - acc: 0.0000e+00
Epoch 43/100
93249/93249 [==============================] - 2s 22us/step - loss: 718005254004.5596 - acc: 0.0000e+00
Epoch 44/100
93249/93249 [==============================] - 2s 22us/step - loss: 718001660121.0066 - acc: 0.0000e+00
Epoch 45/100
93249/93249 [==============================] - 2s 22us/step - loss: 717998019588.2227 - acc: 0.0000e+00
Epoch 46/100
93249/93249 [==============================] - 2s 22us/step - loss: 717994427215.3425 - acc: 0.0000e+00
Epoch 47/100
93249/93249 [==============================] - 2s 22us/step - loss: 717990799385.1865 - acc: 0.0000e+00
Epoch 48/100
93249/93249 [==============================] - 2s 22us/step - loss: 717987198256.4812 - acc: 0.0000e+00
Epoch 49/100
93249/93249 [==============================] - 2s 22us/step - loss: 717983608612.9897 - acc: 0.0000e+00
Epoch 50/100
93249/93249 [==============================] - 2s 22us/step - loss: 717979959363.6835 - acc: 0.0000e+00
Epoch 51/100
93249/93249 [==============================] - 2s 22us/step - loss: 717976359886.3424 - acc: 0.0000e+00
Epoch 52/100
93249/93249 [==============================] - 2s 22us/step - loss: 717972742012.0599 - acc: 0.0000e+00
Epoch 53/100
93249/93249 [==============================] - 2s 22us/step - loss: 717969139654.1202 - acc: 0.0000e+00
Epoch 54/100
93249/93249 [==============================] - 2s 22us/step - loss: 717965546592.0348 - acc: 0.0000e+00
Epoch 55/100
93249/93249 [==============================] - 2s 22us/step - loss: 717961911262.9187 - acc: 0.0011
Epoch 56/100
93249/93249 [==============================] - 2s 22us/step - loss: 717958221576.5833 - acc: 0.0000e+00
Epoch 57/100
93249/93249 [==============================] - 2s 22us/step - loss: 717954575556.0604 - acc: 0.0000e+00
Epoch 58/100
93249/93249 [==============================] - 2s 22us/step - loss: 717950915834.9260 - acc: 0.0000e+00
Epoch 59/100
93249/93249 [==============================] - 2s 22us/step - loss: 717947335153.5924 - acc: 0.0000e+00
Epoch 60/100
93249/93249 [==============================] - 2s 22us/step - loss: 717943707649.3314 - acc: 0.0000e+00
Epoch 61/100
93249/93249 [==============================] - 2s 22us/step - loss: 717940061694.3912 - acc: 0.0000e+00
Epoch 62/100
93249/93249 [==============================] - 2s 22us/step - loss: 717936496112.1644 - acc: 0.0000e+00
Epoch 63/100
93249/93249 [==============================] - 2s 24us/step - loss: 717932909039.0531 - acc: 0.0000e+00
Epoch 64/100
93249/93249 [==============================] - 2s 26us/step - loss: 717929254769.9071 - acc: 0.0000e+00
Epoch 65/100
93249/93249 [==============================] - 2s 25us/step - loss: 717925693877.4167 - acc: 0.0000e+00
Epoch 66/100
93249/93249 [==============================] - 2s 25us/step - loss: 717922053273.9008 - acc: 0.0000e+00
Epoch 67/100
93249/93249 [==============================] - 2s 26us/step - loss: 717918445508.1133 - acc: 0.0000e+00
Epoch 68/100
93249/93249 [==============================] - 2s 25us/step - loss: 717914845626.5594 - acc: 0.0000e+00
Epoch 69/100
93249/93249 [==============================] - 2s 24us/step - loss: 717911221835.8427 - acc: 0.0000e+00
Epoch 70/100
93249/93249 [==============================] - 2s 25us/step - loss: 717907576626.3174 - acc: 0.0000e+00
Epoch 71/100
93249/93249 [==============================] - 2s 22us/step - loss: 717904027807.9247 - acc: 0.0000e+00
Epoch 72/100
93249/93249 [==============================] - 2s 22us/step - loss: 717900409991.4406 - acc: 0.0000e+00
Epoch 73/100
93249/93249 [==============================] - 2s 22us/step - loss: 717896828071.1705 - acc: 0.0000e+00
Epoch 74/100
93249/93249 [==============================] - 2s 22us/step - loss: 717893192856.9164 - acc: 0.0000e+00
Epoch 75/100
93249/93249 [==============================] - 2s 22us/step - loss: 717889544488.8761 - acc: 0.0000e+00
Epoch 76/100
93249/93249 [==============================] - 2s 22us/step - loss: 717885933369.3662 - acc: 0.0000e+00
Epoch 77/100
93249/93249 [==============================] - 2s 22us/step - loss: 717882332303.0027 - acc: 0.0000e+00
Epoch 78/100
93249/93249 [==============================] - 2s 22us/step - loss: 717878746707.9304 - acc: 0.0000e+00
Epoch 79/100
93249/93249 [==============================] - 2s 23us/step - loss: 717875206448.9955 - acc: 0.0000e+00
Epoch 80/100
93249/93249 [==============================] - 2s 23us/step - loss: 717871644566.8153 - acc: 0.0000e+00
Epoch 81/100
93249/93249 [==============================] - 2s 22us/step - loss: 717868038162.0612 - acc: 0.0000e+00
Epoch 82/100
93249/93249 [==============================] - 2s 24us/step - loss: 717864435446.3534 - acc: 0.0000e+00
Epoch 83/100
93249/93249 [==============================] - 2s 25us/step - loss: 717860781331.7169 - acc: 0.0000e+00
Epoch 84/100
93249/93249 [==============================] - 2s 26us/step - loss: 717857196447.2472 - acc: 0.0000e+00
Epoch 85/100
93249/93249 [==============================] - 2s 22us/step - loss: 717853586826.7670 - acc: 0.0000e+00 0s - loss: 708
Epoch 86/100
93249/93249 [==============================] - 2s 21us/step - loss: 717849969170.8412 - acc: 0.0000e+00
Epoch 87/100
93249/93249 [==============================] - 2s 24us/step - loss: 717846365353.2117 - acc: 0.0000e+00
Epoch 88/100
93249/93249 [==============================] - 2s 26us/step - loss: 717843157971.9531 - acc: 0.0000e+00
Epoch 89/100
93249/93249 [==============================] - 3s 32us/step - loss: 717839820324.5416 - acc: 0.0000e+00
Epoch 90/100
93249/93249 [==============================] - 2s 22us/step - loss: 717836252910.6187 - acc: 0.0000e+00
Epoch 91/100
93249/93249 [==============================] - 2s 22us/step - loss: 717832641697.2715 - acc: 0.0000e+00
Epoch 92/100
93249/93249 [==============================] - 2s 22us/step - loss: 717829088366.4587 - acc: 0.0000e+00
Epoch 93/100
93249/93249 [==============================] - 2s 22us/step - loss: 717825481512.9357 - acc: 0.0000e+00
Epoch 94/100
93249/93249 [==============================] - 2s 22us/step - loss: 717821913800.9587 - acc: 0.0000e+00
Epoch 95/100
93249/93249 [==============================] - 2s 22us/step - loss: 717818334144.0507 - acc: 0.0000e+00
Epoch 96/100
93249/93249 [==============================] - 2s 24us/step - loss: 717814769794.5472 - acc: 0.0000e+00
Epoch 97/100
93249/93249 [==============================] - 2s 24us/step - loss: 717811152644.9282 - acc: 0.0000e+00
Epoch 98/100
93249/93249 [==============================] - 2s 26us/step - loss: 717807542564.6033 - acc: 0.0051
Epoch 99/100
93249/93249 [==============================] - 2s 26us/step - loss: 717803983662.8872 - acc: 2.8955e-04
Epoch 100/100
93249/93249 [==============================] - 2s 26us/step - loss: 717800435823.0929 - acc: 6.4344e-05
2000/2000 [==============================] - 0s 207us/step
Test Loss 471424865.8935

In [290]:



y_new = model.predict(x_test)

# new_df = pd.DataFrame({'x':x_old.flatten().tolist(), 'y':y_real.flatten().tolist(), 'y_pred':y_new.flatten().tolist()})
new_df = pd.DataFrame({'y_test':y_test.tolist(), 'y_pred':y_new.tolist()})
new_df

                    y_pred     y_test
0     [1826.2366943359375]      [0.0]
1     [1826.2366943359375]      [0.0]
2     [1826.2366943359375]      [0.0]
3     [1826.2366943359375]      [0.0]
4     [1826.2366943359375]      [0.0]
5     [1826.2366943359375]      [0.0]
6     [1826.2366943359375]      [0.0]
7     [1826.2366943359375]      [0.0]
8     [1826.2366943359375]      [0.0]
9     [1826.2366943359375]      [0.0]
10    [1826.2366943359375]      [0.0]
11    [1826.2366943359375]      [0.0]
12    [1826.2366943359375]      [0.0]
13    [1826.2366943359375]      [0.0]
14    [1826.2366943359375]      [0.0]
15    [1826.2366943359375]      [0.0]
16    [1826.2366943359375]      [0.0]
17    [1826.2366943359375]      [0.0]
18    [1826.2366943359375]      [0.0]
19    [1826.2366943359375]      [0.0]
20    [1826.2366943359375]      [0.0]
21    [1826.2366943359375]      [0.0]
22    [1826.2366943359375]      [0.0]
23    [1826.2366943359375]      [0.0]
24    [1826.2366943359375]      [0.0]
25    [1826.2366943359375]      [0.0]
26    [1826.2366943359375]      [0.0]
27    [1826.2366943359375]      [0.0]
28    [1826.2366943359375]      [0.0]
29    [1826.2366943359375]      [0.0]
...                    ...        ...
1970  [1021.7965698242188]   [4000.0]
1971  [1021.7964477539062]   [1000.0]
1972  [1021.7965698242188]   [1000.0]
1973  [1021.7965698242188]   [1000.0]
1974  [1021.7965698242188]   [2000.0]
1975  [1021.7965698242188]   [1000.0]
1976  [1021.7965698242188]   [1000.0]
1977  [1021.7965698242188]   [2000.0]
1978  [1021.7965698242188]   [6000.0]
1979  [1021.7965698242188]   [2000.0]
1980  [1021.7965698242188]   [3000.0]
1981  [1021.7965698242188]   [2000.0]
1982  [1021.7965698242188]   [1000.0]
1983  [1021.7965698242188]   [2000.0]
1984  [1021.7965698242188]   [2000.0]
1985  [1021.7965698242188]   [2000.0]
1986  [1021.7965698242188]   [3000.0]
1987  [1021.7965698242188]   [2000.0]
1988  [1021.7965698242188]   [5000.0]
1989  [1021.7965698242188]   [4000.0]
1990  [1021.7965698242188]   [6000.0]
1991  [1021.7965698242188]   [9000.0]
1992  [1021.7965698242188]  [14000.0]
1993  [1021.7965698242188]  [19000.0]
1994  [1021.7965698242188]  [11000.0]
1995  [1021.7965698242188]   [7000.0]
1996  [1021.7965698242188]   [8000.0]
1997  [1021.7965698242188]   [6000.0]
1998  [1021.7965698242188]   [5000.0]
1999  [1021.7965698242188]   [5000.0]

[2000 rows x 2 columns]

                   y_pred     y_test
0     [1225.593994140625]      [0.0]
1     [1225.593994140625]      [0.0]
2     [1225.593994140625]      [0.0]
3     [1225.593994140625]      [0.0]
4     [1225.593994140625]      [0.0]
5     [1225.593994140625]      [0.0]
6     [1225.593994140625]      [0.0]
7     [1225.593994140625]      [0.0]
8     [1225.593994140625]      [0.0]
9     [1225.593994140625]      [0.0]
10    [1225.593994140625]      [0.0]
11    [1225.593994140625]      [0.0]
12    [1225.593994140625]      [0.0]
13    [1225.593994140625]      [0.0]
14    [1225.593994140625]      [0.0]
15    [1225.593994140625]      [0.0]
16    [1225.593994140625]      [0.0]
17    [1225.593994140625]      [0.0]
18    [1225.593994140625]      [0.0]
19    [1225.593994140625]      [0.0]
20    [1225.593994140625]      [0.0]
21    [1225.593994140625]      [0.0]
22    [1225.593994140625]      [0.0]
23    [1225.593994140625]      [0.0]
24    [1225.593994140625]      [0.0]
25    [1225.593994140625]      [0.0]
26    [1225.593994140625]      [0.0]
27    [1225.593994140625]      [0.0]
28    [1225.593994140625]      [0.0]
29    [1225.593994140625]      [0.0]
...                   ...        ...
1970  [820.3441162109375]   [4000.0]
1971  [820.3441162109375]   [1000.0]
1972  [820.3441162109375]   [1000.0]
1973  [820.3441162109375]   [1000.0]
1974  [820.3441162109375]   [2000.0]
1975  [820.3441162109375]   [1000.0]
1976  [820.3441162109375]   [1000.0]
1977  [820.3441162109375]   [2000.0]
1978  [820.3441162109375]   [6000.0]
1979  [820.3441162109375]   [2000.0]
1980  [820.3441162109375]   [3000.0]
1981  [820.3441162109375]   [2000.0]
1982  [820.3441162109375]   [1000.0]
1983  [820.3441162109375]   [2000.0]
1984  [820.3441162109375]   [2000.0]
1985  [820.3441162109375]   [2000.0]
1986  [820.3441162109375]   [3000.0]
1987  [820.3441162109375]   [2000.0]
1988  [820.3441162109375]   [5000.0]
1989  [820.3441162109375]   [4000.0]
1990  [820.3441162109375]   [6000.0]
1991  [820.3441162109375]   [9000.0]
1992  [820.3441162109375]  [14000.0]
1993  [820.3441162109375]  [19000.0]
1994  [820.3441162109375]  [11000.0]
1995  [820.3441162109375]   [7000.0]
1996  [820.3441162109375]   [8000.0]
1997  [820.3441162109375]   [6000.0]
1998  [820.3441162109375]   [5000.0]
1999  [820.3441162109375]   [5000.0]

[2000 rows x 2 columns]

In [ ]:
W, b = model.layers[0].get_weights()
print('Weights=', W, '\nbiases=', b)

x_old =np.array(df.x.tolist())
y_real =np.array(df.y.tolist())
y_new = model.predict(x_old)
new_df = pd.DataFrame({'x':x_old.flatten().tolist(), 'y':y_real.flatten().tolist(), 'y_pred':y_new.flatten().tolist()})

In [ ]:
# end of analysis

In [18]:
# show some statistics
balance = supply
print(len(balance) , " is len of df")
print(balance.columns.tolist() )
# print(balance.head())
print("--"*100)
print(balance[500000:500005])
balance.describe()
# print(df.statistics())
balance[1900000:1900005]
supplydf = supply

2000000  is len of df
['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Year Code', 'Year', 'Unit', 'Value', 'Flag']
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Area Code          Area  Item Code             Item  Element Code  \
500000        233  Burkina Faso       2570  Oilcrops, Other           664
500001        233  Burkina Faso       2570  Oilcrops, Other           664
500002        233  Burkina Faso       2570  Oilcrops, Other           664
500003        233  Burkina Faso       2570  Oilcrops, Other           664
500004        233  Burkina Faso       2570  Oilcrops, Other           664

                              Element  Year Code  Year             Unit  \
500000  Food supply (kcal/capita/day)       1970  1970  kcal/capita/day
500001  Food supply (kcal/capita/day)       1971  1971  kcal/capita/day
500002  Food supply (kcal/capita/day)       1972  1972  kcal/capita/day
500003  Food supply (kcal/capita/day)       1973  1973  kcal/capita/day
500004  Food supply (kcal/capita/day)       1974  1974  kcal/capita/day

        Value Flag
500000    0.0   Fc
500001    0.0   Fc
500002    0.0   Fc
500003    0.0   Fc
500004    2.0   Fc

In [19]:
supplydf[1900000:1900005]

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1900000,118,Kuwait,2602,Onions,645,Food supply quantity (kg/capita/yr),1962,1962,kg,16.03,Fc
1900001,118,Kuwait,2602,Onions,645,Food supply quantity (kg/capita/yr),1963,1963,kg,14.06,Fc
1900002,118,Kuwait,2602,Onions,645,Food supply quantity (kg/capita/yr),1964,1964,kg,21.02,Fc
1900003,118,Kuwait,2602,Onions,645,Food supply quantity (kg/capita/yr),1965,1965,kg,21.62,Fc
1900004,118,Kuwait,2602,Onions,645,Food supply quantity (kg/capita/yr),1966,1966,kg,18.12,Fc

Pickling help

In [46]:
# https://stackoverflow.com/questions/4530611/saving-and-loading-objects-and-using-pickle
import pickle
import numpy as np
import pandas as pd
import csv


dataPath = r'C:/Users/User/Desktop/newMe/newMe/Training/Stanford/Deep Learning Class/Project/python_code/datafile/'
def pObj_old(obj, fileName):
    path = dataPath+fileName+".pickle"
    pickle.dump( obj, open( path, "wb" ) )

def rObj_old(fileName):
    path = dataPath+fileName+".pickle"
    return pickle.load( open( path, "rb" ) )


def pObj(df, fileName):
    path = dataPath+fileName+".csv"
    df.to_csv(path, sep=',', index=False)

def rObj(fileName):
    path = dataPath+fileName+".csv"
    return pd.read_csv(path, sep=',') 




# pObj([1,2,[2,"a"]], 'abc')
# rObj('abc')

In [86]:
x = np.arange(10000).reshape(1,10000)
y= 3*x/1000

a = x.flatten().tolist()
b = y.flatten().tolist()
# print(x.flatten().tolist())
# print(y.flatten().tolist())

df = pd.DataFrame({'x':a, 'y':b})

pObj(df, 'abc')
# rObj('abc')

In [87]:

df =rObj('abc')
len(df)

df.tail()

         x       y
9995  9995  29.985
9996  9996  29.988
9997  9997  29.991
9998  9998  29.994
9999  9999  29.997

In [129]:
df =rObj('abc')
a =np.array(df.x.tolist())
b =np.array(df.y.tolist())

x = a
y = b
print(x)
print(y)
print(y_real)
print(y_new)

[   0    1    2 ... 9997 9998 9999]
[0.0000e+00 3.0000e-03 6.0000e-03 ... 2.9991e+01 2.9994e+01 2.9997e+01]
[0.0000e+00 3.0000e-03 6.0000e-03 ... 2.9991e+01 2.9994e+01 2.9997e+01]
[[1.1496156e+00]
 [2.1529887e+00]
 [3.1549971e+00]
 ...
 [9.9963672e+03]
 [9.9973672e+03]
 [9.9983672e+03]]

Going to test TF neural network with a single variate regression

In [144]:
import tensorflow as tf
from tensorflow import keras
import sys
import pandas as pd
import pathlib as pl
import numpy as np

df =rObj('abc')
a =np.array(df.x.tolist())
b =np.array(df.y.tolist())

x = a
y = b
# x,y = normalizeInputs(a, b)

x_train = x[:9500].reshape(9500, 1)
y_train = y[:9500].reshape(9500, 1)

x_test = x[9500:].reshape(10000-9500, 1)
y_test = y[9500:].reshape(10000-9500, 1)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)


#plot data


model = keras.Sequential([
#     keras.layers.Dense(units=1,input_shape=(1,))
    keras.layers.Dense(1,input_shape=(1,)),
    keras.layers.Dense(128, activation=tf.nn.relu),
    keras.layers.Dense(10, activation=tf.nn.relu),#relu),
    keras.layers.Dense(1)
])


model.compile(optimizer=tf.train.AdamOptimizer(), #'sgd',#
              loss='mean_squared_error',
              metrics=['accuracy'])


model.fit(x_train, y_train, epochs=15)
test_loss, test_acc = model.evaluate(x_test, y_test)

# print('Test accuracy:', test_acc)
print('Test Loss', test_loss)

# https://stats.stackexchange.com/questions/284189/simple-linear-regression-in-keras

W, b = model.layers[0].get_weights()
print('Weights=', W, '\nbiases=', b)


x_old =np.array(df.x.tolist())
y_real =np.array(df.y.tolist())
y_new = model.predict(x_old)

new_df = pd.DataFrame({'x':x_old.flatten().tolist(), 'y':y_real.flatten().tolist(), 'y_pred':y_new.flatten().tolist()})
pObj(new_df, 'testing1')

y_new2 = model.predict(x_test)
new_d2 = pd.DataFrame({'x':x_test.flatten().tolist(), 'y':y_test.flatten().tolist(), 'y_pred':y_new2.flatten().tolist()})
pObj(new_d2, 'testing2')

(9500, 1)
(9500, 1)
(500, 1)
(500, 1)
Epoch 1/15
9500/9500 [==============================] - 1s 114us/step - loss: 6013.7831 - acc: 8.4211e-04
Epoch 2/15
9500/9500 [==============================] - 0s 24us/step - loss: 0.0036 - acc: 0.0011
Epoch 3/15
9500/9500 [==============================] - 0s 25us/step - loss: 6.4872e-04 - acc: 0.0011
Epoch 4/15
9500/9500 [==============================] - 0s 24us/step - loss: 6.3381e-04 - acc: 0.0011
Epoch 5/15
9500/9500 [==============================] - 0s 25us/step - loss: 6.1498e-04 - acc: 0.0011 ETA: 0s - loss: 6.1794e-04 - acc: 0.0012
Epoch 6/15
9500/9500 [==============================] - 0s 24us/step - loss: 5.8693e-04 - acc: 0.0011
Epoch 7/15
9500/9500 [==============================] - 0s 23us/step - loss: 5.6161e-04 - acc: 0.0011
Epoch 8/15
9500/9500 [==============================] - 0s 25us/step - loss: 5.2795e-04 - acc: 0.0011 ETA: 0s - loss: 5.3899e-04 - acc: 4.9603e-
Epoch 9/15
9500/9500 [==============================] - 0s 24us/step - loss: 4.8796e-04 - acc: 0.0011
Epoch 10/15
9500/9500 [==============================] - 0s 23us/step - loss: 4.5389e-04 - acc: 0.0011
Epoch 11/15
9500/9500 [==============================] - 0s 23us/step - loss: 4.0875e-04 - acc: 0.0011
Epoch 12/15
9500/9500 [==============================] - 0s 28us/step - loss: 3.6893e-04 - acc: 0.0011
Epoch 13/15
9500/9500 [==============================] - 0s 25us/step - loss: 3.2768e-04 - acc: 0.0011
Epoch 14/15
9500/9500 [==============================] - 0s 25us/step - loss: 2.8300e-04 - acc: 0.0011
Epoch 15/15
9500/9500 [==============================] - 0s 28us/step - loss: 2.3040e-04 - acc: 0.0011
500/500 [==============================] - 0s 686us/step
Test Loss 0.0001746664772508666
Weights= [[1.0169815]]
biases= [-0.01623993]

In [101]:
from sklearn.preprocessing import StandardScaler


def normalizeInputs(x, y):
    x =x.reshape(len(x),1)
    y =y.reshape(len(y),1)

    sc = StandardScaler()
    x = sc.fit_transform(x)
    y = sc.fit_transform(y)
    return x,y

In [142]:
# print(x_train[:10])
# print(y_train[:10])
print(x_test[:10])
print(y_test[:10])

[[9500]
 [9501]
 [9502]
 [9503]
 [9504]
 [9505]
 [9506]
 [9507]
 [9508]
 [9509]]
[[28.5  ]
 [28.503]
 [28.506]
 [28.509]
 [28.512]
 [28.515]
 [28.518]
 [28.521]
 [28.524]
 [28.527]]

array([1.73187761])

In [116]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
np.random.seed(1337)  # for reproducibility
 

# create some data
X = np.linspace(-1, 1, 200)
np.random.shuffle(X)    # randomize the data
Y = 0.5 * X + 2 + np.random.normal(0, 0.05, (200, ))



model = Sequential()
model.add(Dense(units=1, input_dim=1))
model.compile(loss='mse', optimizer='sgd')

# train test split
X_train, Y_train = X[:160], Y[:160]     
X_test, Y_test = X[160:], Y[160:]  




print('Training -----------')
for step in range(301):
    cost = model.train_on_batch(X_train, Y_train)
    if step % 100 == 0:
        print('train cost: ', cost)

print('\nTesting ------------')
cost = model.evaluate(X_test, Y_test, batch_size=40)
print('test cost:', cost)
W, b = model.layers[0].get_weights()
print('Weights=', W, '\nbiases=', b)

Training -----------
train cost:  4.3568635
train cost:  0.1405251
train cost:  0.020655695
train cost:  0.006906704

Testing ------------
40/40 [==============================] - 0s 3ms/step
test cost: 0.0077372221276164055
Weights= [[0.6024404]]
biases= [2.001824]